<div class="user-image-container">
  <div class="user-image">
    <%= link_to cl_image_tag(@current_user.image), user_path(@current_user.id) %>
  </div>
</div>
<div class="genre-greeting">
  <div>
    <h1><%= @genre.name %></h1>
    <p>
      <%= @genre.description %>
    </p>
  </div>
</div>
<div class="genre-type">
<div class="song_list">
<ul class="song_index_ul">
  <% @genre.songs.each do |song| %>
    <li class="song_index_li">
      <%= link_to cl_image_tag(song.image, class: "song-image"), song_path(song.id) %>
    </li>
  <% end %>
  <li class="song_index_li" class="song-add-button">
    <%= link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwIbo8BO9d1bIMbyelghTD1oiPlMNmZ6e4iXDqQ5LxPGkT7lw8&s", class: "song-image"), new_song_in_genre_path(@genre.id) %>
  </li>
</ul>
<footer class="genre-nav">
  <ul class="genre-nav-ul">
    <li class="genre-nav-li"><nav><strong><%= link_to "Edit #{@genre.name}", edit_genre_path(@genre.id) %></strong></nav></li>
    <li class="genre-nav-li"><nav><strong><%= link_to "Genres Index", user_path(session[:user_id])	 %></strong></nav></li>
    <li class="genre-nav-li"><nav><strong><%= link_to "Delete Genre", genre_path(@genre.id), method: 'delete' %></strong></nav></li>
    <li class="genre-nav-li"><nav><strong><%= link_to "Sydney Concerts", concerts_map_path%></strong></nav></li>
  </ul>
</footer>
