<h1><%= @genre.name %></h1>
<h3>User ID: <%= session[:user_id] %></h3>
<h3>User name: <%= @current_user.name %></h3>
<p><strong><%= link_to "Edit #{@genre.name}", edit_genre_path(@genre.id) %></strong> | <strong><%= link_to "Genres Index", user_path(session[:user_id])	 %> | <strong><%= link_to "Delete Genre", genre_path(@genre.id), method: 'delete' %></strong></strong></p>
<p>
  <%= @genre.description %>
</p>
<div class="song_list">
<ul class="song_index_ul">
  <% @genre.songs.each do |song| %>
    <li class="song_index_li">
      <%= link_to song.name, song_path(song.id) %>
    </li>
  <% end %>
  <li class="song_index_li">
    <%= link_to "Add", new_song_path%>
  </li>
</ul>
