<div class="user-form-container">
  <ul class="user-form">
    <%= form_for @user, :html => {:multipart => true} do |f| %>
    <%# ask form name %>
    <li>
      <%=  f.label :name %>
    </li>
    <li>
      <%= f.text_field :name %>
    </li>
    <li>
      <%=  f.label :email %>
    </li>
    <li>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :image %>
    </li>
    <li>
      <%= f.cl_image_upload  :image %>
    </li>
    <li>
      <%= f.submit %>
    <li>
    <% end %>
  </ul>
</div>
