<header>
  <nav class="login-link"><strong><%= link_to "Login", login_path %></strong></nav>
</header>
<div class="sign_up_container">
  <ul class="sign-up-form">
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li>
        <% end %> <%# end each loop %>
    <% end %> <%# end if %>

    <%= form_for @user do |f| %>
    <%# ask form name %>
    <li>
      <%=  f.label :name %>
    </li>
    <li>
      <%= f.text_field :name %>
    </li>
    <li>
      <%# ask form email %>
      <%=  f.label :email %>
    </li>
    <li>
      <%= f.email_field :email %>
    </li>
    <li>
      <%# ask for password %>
      <%=  f.label :password %>
    </li>
    <li>
      <%= f.password_field :password, class: 'form-control' %>
    </li>
    <li>
      <%# confirm password %>
      <%=  f.label :confirm_password %>
    </li>
    <li>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </li>
    <li>
      <%= f.submit  "Sign Up"%>
    </li>
    <% end %> <%# end form %>
  </ul>
</div>
