<h2>Create new account</h2>
<div class="sign_up_form">
  <h3>Sign up here</h3>

  <% if @user.errors.any? %>
    <p>Please correct the following</p>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
      <% end %> <%# end each loop %>
    </ul>
  <% end %> <%# end if %>
  <%= form_for @user do |f| %>
  <%# ask form name %>
    <%=  f.label :name %>
    <%= f.text_field :name %>
  <%# ask form email %>
    <%=  f.label :email %>
    <%= f.email_field :email %>
  <%# ask for password %>
    <%=  f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  <%# confirm password %>
    <%=  f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <br>

    <%= f.submit  "Sign Up"%>

  <% end %> <%# end form %>
</div>
