<div class="user-image-container">
  <div class="user-image">
    <%= link_to cl_image_tag(@user.image), user_path(@user.id) %>
  </div>
</div>
<div class="user-greeting">
  <h1>Welcome <%= @user.name %>!</h1>
  <h3>Here are you favourite genres</h3>
</div>
<div class="genre_list">
  <ul class="genre_index_ul">
    <% @user.genres.each do |g| %>
      <li class="genre_index_li">
        <!-- <h3 class="genre-background-heading"><%= g.name %></h3> -->
        <%= link_to cl_image_tag(g.image, class: "genre-image"), genre_path(g.id) %>
      </li>
    <% end %>
      <li class="genre_index_li" id="genre-add-button">
        <%= link_to link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwIbo8BO9d1bIMbyelghTD1oiPlMNmZ6e4iXDqQ5LxPGkT7lw8&s", class: "genre-image"), new_genre_path(@user.id) %>
      </li>
  </ul>
</div>
<footer class="user-nav">
  <ul class="user-nav-ul">
    <li class="user-nav-li"><nav><strong><%= link_to "Edit #{@user.name}", edit_user_path(@user.id) %></strong></nav></li>
  
</footer>
<script>

</script>
