<div class="song-form-container">
  <%= form_for @song do |f| %>
  <ul class="song-form">
    <li>
      <%= f.label :name %>
    </li>
    <li>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :artist %>
    </li>
    <li>
      <%= f.text_field :artist %>
    </li>
    <li>
      <%= f.label :sheet %>
    </li>
    <li>
      <%= f.text_area :sheet %>
    </li>
    <li>
      <%= f.label :image, "Image URL" %>
    </li>
    <li>
      <%= f.text_field :image %>
    </li>
    <!-- <li>
      <%= f.label :genre_id %>
      <select name="song[genre_id]">
        <option value="<%= @genre_id %>"><%= @genre_name %></option>
      </select>
    </li>
    <li>
      <%= f.submit %>
    </li> -->
    <li>
      <%= f.label :genre_id %>
    </li>
    <li>
      <select  name="song[genre_id]">
        <% Genre.all.each do |g| %>
        <option value="<%= g.id %>"><%= g.name %></option>

        <% end %>
      </select>
    </li>
      <% end %>
  <ul>
</div>
