<div class="user-image-container">
  <div class="user-image">
    <%= link_to cl_image_tag(@current_user.image), user_path(@current_user.id) %>
  </div>
</div>
<p>
  Edit <%= @song.name  %>
</p>

<%= render partial: 'form' %>
<footer class="song-nav">
    <ul class="song-nav-ul">
      <li class="song-nav-li"><nav><strong><%= link_to "Back to Genre", user_path(session[:user_id]) %></strong></nav>
      </li>
      <li>
        <nav><strong><%= link_to "Back to #{@genre_name}", genre_path(@genre_id) %></strong></nav>
      </li>
      <li>
        <nav><strong><%= link_to "Back to #{@song.name}", song_path(@song.id) %></strong></nav>
      </li>
    </ul>
</footer>
