<p>
  <%= link_to "Edit #{@song.name}", edit_song_path(@song.id) %> | <%= link_to "Back to Genre", genre_path(@song.genre_id) %>
</p>

<h1><%= @song.name %></h1>

<h2><%= @song.artist %></h2>

<p>
  <%= @song.sheet %>
</p>
