<p>
  <%= link_to "Edit #{@song.name}", edit_song_path(@song.id) %> | <%= link_to "Back to Genre", user_path(session[:user_id]) %> | <%= link_to 'Delete Song', song_path(@song.id), method: 'delete'%>
</p>

<h1><%= @song.name %></h1>

<h2><%= @song.artist %></h2>

<p>
  <%= @song.sheet %>
</p>
