

<h1><%= @song.name %></h1>

<h2><%= @song.artist %></h2>

<p>
  <%= @song.sheet %>
</p>

<footer>
  <nav><%= link_to "Edit #{@song.name}", edit_song_path(@song.id) %> </nav>
  <nav><%= link_to "Back to Genre", user_path(session[:user_id]) %></nav>
  <nav><%= link_to 'Delete Song', song_path(@song.id), method: 'delete'%></nav>
</footer>
