
<div class="song-info-container">
  <div class="sing-info">
    <h1><%= @song.name %></h1>

    <h2><%= @song.artist %></h2>

    <p>
      <%= @song.sheet %>
    </p>
  </div>
</div>
<div class="piano-container">
  <div class="piano">
    <ul id="piano">
      <li class="key" >
        <div class="black-key"><span id="s">S</span></div>
        <div class="white-key">
          <span id='z'>Z</span>
        </div>
      </li>
      <li class="key" >
        <div class="black-key"><span id="d">D</span></div>
        <span id="x">X</span>
      </li>
      <li  class="key" >
        <span id="c">C</span>
      </li>
      <li class="key" >
        <div class="black-key"><span id="g">G</span></div>
        <span id="v">V</span>
      </li>
      <li class="key" >
        <div  class="black-key"><span id="h">H</span></div>
        <span id="b">B</span>
      </li>
      <li class="key" >
        <div class="black-key"><span id="j">K</span></div>
        <span id="n">N</span>
      </li>
      <li class="key" >
        <span id="m">M</span>
      </li>
    </ul>
  </div>
</div>
<footer class="song-nav">
  <ul class="song-nav-ul">
    <li class="song-nav-li"><nav><strong><%= link_to "Edit #{@song.name}", edit_song_path(@song.id) %></strong></nav></li>
    <li class="song-nav-li"><nav><strong><%= link_to "Back to Genre", user_path(session[:user_id]) %></strong></nav>
    </li>
    <li>
      <nav><strong><%= link_to "Back to #{@genre_name}", genre_path(@genre_id) %></strong></nav>
    </li>
    <li class="song-nav-li"><strong><nav><%= link_to 'Delete Song', song_path(@song.id), method: 'delete'%></nav></strong></li>
  </ul>
</footer>
