<div class="concert-image-container">
  <div class="concert-image">
    <%= link_to cl_image_tag(@current_user.image), user_path(@current_user.id) %>
  </div>
<div class="concert-show-container">
  <ul class="concert-list">
    <li>
      <%=link_to @concert.name, concerts_map_path %>
    </li>
    <li>
      <%= @concert.address %>
    </li>
    <li>
      <%= @concert.time %>
    </li>
    <% @artists.each do |a| %>
    <li>
      <%= a.name %>
    </li>
    <% end %>
  </ul>

</div>
<div class="concert-nav">
  <ul class="concert-nav-ul">
    <li class="concert-nav-li"><nav><strong><%= link_to "Edit #{@concert.name}", edit_concert_path(@concert.id) %></strong></nav></li>
    <li class="concert-nav-li"><nav><strong>
    <li>
      <nav><strong><%= link_to "Back to Concert Index", concerts_path %></strong></nav>
    </li>
    <li class="concert-nav-li"><strong><nav><%= link_to 'Delete Concert', concert_path( @concert.id), method: 'delete'%></nav></strong></li>
    <li class="concert-nav-li"><nav><strong><%= link_to "Concerts near me", concerts_map_path %></strong></nav></li>
  </ul>
</div>
