<!DOCTYPE html>
<html>
  <head>
    <title>MusikDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'tone' %>
    <%= cloudinary_js_config %>
  </head>

  <body>

    <br>
    <header>
      <nav>
        <% if @current_user.present? %>
        <strong><%= link_to "Log out", login_path, method: 'delete', class: "logout-path"%></strong>
        <% else %>
      <% end %>
      </nav>
    </header>
    <%= yield %>
    <br>
  </body>
</html>
