<!DOCTYPE html>
<html>
  <head>
    <title>MusikDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Welcome to the music lesson DB</h1>
    <br>
    <header>
      <nav>
        <% if @current_user.present? %>
        <%= link_to "logout", login_path, method: 'delete'%>
      <% end %>
      </nav>
    </header>
    <hr>
    <%= yield %>
    <hr>
    <br>
  </body>
</html>
